<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
      <add name="Common.Properties.Settings.ChildrenPalaceConnectionString"
          connectionString="Data Source=ryuk33.xicp.net;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;"
          providerName="System.Data.SqlClient" />
      -->
      <!--
      <add name="Common.Properties.Settings.ChildrenPalaceConnectionString"
          connectionString="Data Source=127.0.0.1;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;"
          providerName="System.Data.SqlClient" />
      -->

      <add name="Common.Properties.Settings.ChildrenPalaceConnectionString"
          connectionString="Data Source=GAOYZ-PC\SQLEXPRESS;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>