<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--
    <add name="BanGongPingTai.Properties.Settings.ChildrenPalaceConnectionString"
      connectionString="Data Source=ryuk33.xicp.net;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;"
      providerName="System.Data.SqlClient" />
    <add name="Common.Properties.Settings.ChildrenPalaceConnectionString"
      connectionString="Data Source=ryuk33.xicp.net;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;"
      providerName="System.Data.SqlClient" />
    -->
    <add name="BanGongPingTai.Properties.Settings.ChildrenPalaceConnectionString" connectionString="Data Source=GAOYZ-PC\SQLEXPRESS;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;" providerName="System.Data.SqlClient"/>
    <add name="Common.Properties.Settings.ChildrenPalaceConnectionString" connectionString="Data Source=GAOYZ-PC\SQLEXPRESS;Initial Catalog=ChildrenPalace;Persist Security Info=True;User ID=sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
